{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": "> 1%",
        "uglify": true
      },
      "useBuiltIns": "usage",
      "corejs": 3
    }]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-optional-chaining", // Add this line
    "@babel/plugin-transform-object-rest-spread",
    ["@babel/plugin-transform-class-properties", { "spec": true }]
  ]
}
