<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #112025;">
    <div class="container">
      <a class="navbar-brand" href="/" style="color: #fdc161;">TDBC</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: #fdc161;">Discover Nearby</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #fdc161;">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Dog Sitting</a></li>
              <li><a class="dropdown-item" href="#">Dog Walking</a></li>
              <li><a class="dropdown-item" href="#">Grooming</a></li>
              <li><a class="dropdown-item" href="#">Activities</a></li>
              <li><a class="dropdown-item" href="#">Professional Courses</a></li>
              <li><a class="dropdown-item" href="#">All Services</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: #fdc161;">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: #fdc161;">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
